package;

import tink.http.containers.*;
import tink.http.Response;
import tink.web.routing.*;

/**
 * {{&description}}
 * @class {{&className}}
 * @param {(string)} [domainOrOptions] - The project domain.
 */
interface {{className}} {

    {{#methods}}
        {{> methodTemplate}}

    {{/methods}}
}

{{#definitions}}
    {{> typeTemplate}}
{{/definitions}}
